*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#container{
    width: 800px;
    max-width: 80%;
    background-color: white;
}

#a-button{
    width: fit-content;
    background-color: violet;
    color: white;
}

#b-button{
    width: fit-content;
    background-color:dodgerblue;
    color: orange;
}

#c-button{
    width: fit-content;
    background-color: green;
    color: gold;
}

#d-button{
    width: fit-content;
    background-color: peru;
    color: silver;
}